<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETKER</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/layout.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    <!-- UserModel -->
    @Html.Partial("./UserModel/Index")

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="brand"></div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav gap-3 mx-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="about" asp-action="index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ranking" asp-action="index">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="contact" asp-action="index">Contact</a>
                        </li>
                    </ul>
                    <button id="signinup" class="btn btn-outline-dark rounded-0 px-4">SIGN IN/UP</button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-warning">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="col">
                    <div class="brand"></div>
                    <div class="slogan text-secondary">
                        INVETKER offers easy stock tracking, clear charts, daily rankings, and a beginner-friendly interface.
                    </div>
                </div>
                <div class="col text-light fs-6">
                    <div class="title fw-bold">Get Started</div>
                    <ul class="list-unstyled">
                        <li class="mt-2"><a href="#">Home</a></li>
                        <li class="mt-2"><a href="#">About</a></li>
                        <li class="mt-2"><a href="#">Ranking</a></li>
                    </ul>
                </div>
                <div class="col text-light fs-6">
                    <div class="title fw-bold">Resources</div>
                    <ul class="list-unstyled">
                        <li class="mt-2"><a href="#">Contact</a></li>
                        <li class="mt-2"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-light my-4">
                <hr>
            </div>
            <div class="text-light text-center">
                &copy; 2024 INVETKER, All right reserved.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
