@using Invetker.Models
@model TransactionAddViewModel

<div class="modal fade" id="transaction-add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="transaction-add-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg with-nav-tab">
        <div class="modal-content">
            <ul class="nav nav-tabs px-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="manually-tab" data-bs-toggle="tab" data-bs-target="#manually-tab-pane" type="button" role="tab" aria-controls="manually-tab-pane" aria-selected="true">Manually Add</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="import-tab" data-bs-toggle="tab" data-bs-target="#import-tab-pane" type="button" role="tab" aria-controls="import-tab-pane" aria-selected="false">Import</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="manually-tab-pane" role="tabpanel" aria-labelledby="manually-tab" tabindex="0">

                    @using (Html.BeginForm("Add", "api/Transaction", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "add", role = "form", @class = "mt-3 needs-validation", novalidate = "true" }))
                    {
                        <div class="px-4">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="mb-3">
                                @Html.LabelFor(m => m.AssetType, new { @class = "form-label required" })
                                @Html.DropDownListFor(
                                o => o.AssetType,
                                Enum.GetValues(typeof(AssetType)).Cast<AssetType>
                                    ().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }),
                                    new { @class = "form-control", required = "true" }
                                    )
                                @Html.ValidationMessageFor(m => m.AssetType, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <div class="control-group">
                                    @Html.LabelFor(m => m.AssetId, new { @class = "form-label required" })
                                    <select id="Ticker" class="Ticker" name="AssetId" required></select>
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Quantity, new { @class = "form-label required" })
                                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", type = "number", required = "true", step = "0.001" })
                                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Action, new { @class = "form-label required" })
                                @Html.DropDownListFor(
                                o => o.Action,
                                Enum.GetValues(typeof(ActionType)).Cast<ActionType>
                                    ().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }),
                                    new { @class = "form-control", required = "true" }
                                    )
                                @Html.ValidationMessageFor(m => m.Action, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Price, new { @class = "form-label required" })
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number", required = "true", step = "0.001" })
                                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Fee, new { @class = "form-label required" })
                                @Html.TextBoxFor(m => m.Fee, new { @class = "form-control", type = "number", required = "true", step = "0.001" })
                                @Html.ValidationMessageFor(m => m.Fee, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="Datetime" class="form-label required">Date and Time:</label>
                                <input type="text" class="form-control" id="Datetime" name="Datetime" required>
                            </div>
                        </div>
                        <div class="modal-footer px-4">
                            <input type="button" value="Close" class="btn btn-outline-secondary" data-bs-dismiss="modal" />
                            <input type="submit" value="Add" class="btn btn-warning text-light" />
                        </div>
                                    }
                </div>
                <div class="tab-pane fade" id="import-tab-pane" role="tabpanel" aria-labelledby="import-tab" tabindex="0">
                    <form name="import" class="needs-validation mt-3" method="POST" novalidate>
                        <div class="px-4">
                            <div class="mb-3">
                                <label for="action" class="form-label required">Securities Exchange:</label>
                                <select class="form-select" required>
                                    <option selected>InteractiveBrokers</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="action" class="form-label required">File (CSV Only):</label>
                                <div class="clearfix"></div>
                                <div class="input-group custom-file-button">
                                    <label class="btn btn-outline-secondary btn-icon px-3 rounded" for="inputGroupFile">
                                        <svg width="17" height="16" viewBox="0 0 17 16" fill="inherit" xmlns="http://www.w3.org/2000/svg">
                                            <path id="upload" d="M5.95455 3.58532H7.63409V11.2732C7.63409 11.3732 7.71591 11.455 7.81591 11.455H9.17955C9.27955 11.455 9.36136 11.3732 9.36136 11.2732V3.58532H11.0455C11.1977 3.58532 11.2818 3.41033 11.1886 3.29216L8.64318 0.0697542C8.62617 0.0480251 8.60444 0.0304518 8.57964 0.0183663C8.55483 0.00628079 8.5276 0 8.5 0C8.4724 0 8.44517 0.00628079 8.42036 0.0183663C8.39556 0.0304518 8.37383 0.0480251 8.35682 0.0697542L5.81136 3.28989C5.71818 3.41033 5.80227 3.58532 5.95455 3.58532ZM16.8182 10.5914H15.4545C15.3545 10.5914 15.2727 10.6733 15.2727 10.7732V14.2729H1.72727V10.7732C1.72727 10.6733 1.64545 10.5914 1.54545 10.5914H0.181818C0.0818182 10.5914 0 10.6733 0 10.7732V15.2728C0 15.675 0.325 16 0.727273 16H16.2727C16.675 16 17 15.675 17 15.2728V10.7732C17 10.6733 16.9182 10.5914 16.8182 10.5914Z" />
                                        </svg>
                                        <span class="ms-2">Upload</span>
                                    </label>
                                    <input type="file" accept=".csv" class="form-control border-0 m-0 shadow-none" id="inputGroupFile" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="notes" class="form-label">Notes:</label>
                                <textarea class="form-control" id="notes" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer px-4">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning text-light">Import</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>